<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    {{msg}}
    <h1>Add Department</h1>
    <form method="POST">
      <label for="depname">Department Name</label>
      <p><input type="text" name="depname" /></p>
      <label for="locid">Department Location ID</label>
      <p>
        <select name="locid">
          {% for i in data %}
          <option value="{{i[0]}}">{{i[0]}}</option>
          {% endfor %}
        </select>
      </p>
      <input type="submit" value="Add Department" />
    </form>
    <p><a href="/">Back To Home</a></p>
  </body>
</html>
