<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <table border="2">
      <tr>
        <th>Department ID</th>
        <th>Department Name</th>
        <th>Department Location ID</th>
        <th>Department Info</th>
      </tr>
      {% for i in data %}
      <tr>
        <td>{{i[0]}}</td>
        <td>{{i[1]}}</td>
        <td>{{i[2]}}</td>
        <td>
          <form action="/viewemployees" method="POST">
            <input type="hidden" name="info" value="{{i[0]}}" />
            <input type="submit" value="Info" />
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>

    <p><a href="/">Back</a></p>
  </body>
</html>
