<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    {{msg}}
    <h1>Login:</h1>
    <form action=" {{ url_for('home') }} " method="POST">
      <label for="name">Name</label>
      <p><input type="text" name="name" /></p>
      <label for="pass">Pass</label>
      <p><input type="password" name="pass" /></p>
      <p><input type="submit" value="Login" /></p>
    </form>
    <p><a href="/">Home</a></p>
  </body>
</html>
