<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Update Employee</h1>
    <form action="/update" method="POST">
      <label for="fname">First Name</label>
      <p><input type="text" name="fname" /></p>

      <label for="lname">Last Name</label>
      <p><input type="text" name="lname" /></p>

      <label for="email">Email</label>
      <p><input type="text" name="email" /></p>

      <label for="phone">Phone Number</label>
      <p><input type="text" name="phone" /></p>

      <label for="hire">Hire Date</label>
      <p><input type="text" name="hire" /></p>

      <label for="jobid">Job ID</label>
      <p>
        <select name="jobid">
          {% for i in job %}
          <option value="{{i[0]}}">{{i[0]}}</option>
          {% endfor %}
        </select>
      </p>
      <label for="depid">Department ID</label>
      <p>
        <select name="depid">
          {% for i in dep %}
          <option value="{{i[0]}}">{{i[0]}}</option>
          {% endfor %}
        </select>
      </p>

      <label for="salary">Salary</label>
      <p><input type="text" name="salary" /></p>

      <input type="hidden" name="id" value="{{data[0]}}" />
      <input type="submit" value="Update" />
    </form>
  </body>
</html>
