<!DOCTYPE html>
<body>
    <form action='http://localhost:5000/login' method='POST'>
        <label for='name'>Enter Name:</label>
        <p><input type='text' name='name' /></p>

        <label for='age'>Enter Age:</label>
        <p><input type='text' name='age'/></p>

        <label for='address'>Enter Address:</label>
        <p><input type='text' name='address'/></p>

        <label for='nationality'>Enter Nationality:</label>
        <p><input type='text' name='nationality'/></p>
        
        <p><input type='submit' value='submit'/></p>
    </form>
</body>
</html>