<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css" />
  </head>
  <body>
    <div>
      {% if mark >= 90 %}
      <h1>Got A</h1>
      {% elif mark < 90 and mark >= 80 %}
      <h1>Got B</h1>
      {% elif mark < 80 and mark >= 70 %}
      <h1>Got C</h1>
      {% elif mark < 70 and mark >= 50 %}
      <h1>Got D</h1>
      {% else %}
      <h1>Failed</h1>
      {% endif %}
    </div>
    <h1>Coding Academy</h1>
    <p>Amman Jordan.</p>
  </body>
</html>
